:root {
  --clr-primary-violet: hsl(257, 40%, 49%);
  --clr-primary-pink: hsl(300, 69%, 71%);
  --clr-secondary-pink: hsl(300, 37%, 57%);

  --ff-base: "Poppins", sans-serif;
  --fw-regular: 400;
  --fw-bold: 600;

  --fs-1: 1rem;
  --fs-2: 1.2rem;
  --fs-3: 1.44rem;
  --fs-4: 1.728rem;
  --fs-5: 2.074rem;
  --fs-6: 2.488rem;
  --fs-7: 2.986rem;
  --fs-8: 3.583rem;
  --fs-9: 3.815rem;
  --fs-10: 4.768rem;
}

body {
  background-color: var(--clr-primary-violet);
  background-image: url("/images/bg-desktop.svg");
  font-family: var(--ff-base);
}

.body-flex-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;

  margin: 0 auto;
  width: min(90%, 1440px);
}

.page-header__logo-wrapper {
  padding: 4rem 0;
}

.page-header__logo {
  width: min(50%, 27rem);
}

.page-header {
  margin-bottom: 4rem;
}

.main-hero {
  display: grid;
  grid-template-columns: 4fr 3fr;
  gap: 4rem;
}

@media (max-width: 700px) {
  .main-hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0;
    /* height: 100vh; */
  }

  :root {
    --fs-1: 1rem;
    --fs-2: 1.125rem;
    --fs-3: 1.266rem;
    --fs-4: 1.424rem;
    --fs-5: 1.602rem;
    --fs-6: 1.802rem;
    --fs-7: 2.027rem;
    --fs-8: 2.281rem;
    --fs-9: 2.566rem;
    --fs-10: 2.887rem;
  }

  .page-header__logo {
    width: min(50%, 20rem);
  }

  .page-header {
    margin-bottom: 3rem;
  }

  .main-hero__image {
    margin: 0 auto;
  }
}

.main-hero__image {
  width: 90%;
}

.main-hero__register {
  padding: 5rem 2rem;
  color: white;
}
.main-hero__heading {
  letter-spacing: 0.3px;
  font-size: var(--fs-9);
  margin-bottom: 3rem;
}

.main-hero__text {
  font-size: var(--fs-4);
  line-height: 1.7;
  margin-bottom: 3rem;
}
.main-hero__button {
  font-size: var(--fs-5);
  color: var(--clr-primary-violet);
  background-color: white;
  padding: 1.5rem;
  min-width: 40%;
  border: none;
  border-radius: 3rem;
  cursor: pointer;
  transition: 0.2s ease-out;
  box-shadow: 0px 5px 15px rgb(50, 50, 50);
}

.main-hero__button:hover {
  color: white;
  background-color: var(--clr-primary-pink);
}
.main-hero__button:active {
  box-shadow: 0px 3px 9px rgb(69, 69, 69);
}

.main-hero__social-links {
  grid-column: 2 / 3;
  display: flex;
  justify-content: end;
  gap: 1rem;
  padding-right: 0 3rem;
}
.main-hero__link {
  display: flex;
  justify-content: center;

  border: 1px solid white;
  border-radius: 50%;
  width: max-content;
  padding: 1rem;
  color: white;
  transition: 0.2s ease-out;
}

.main-hero__link:hover {
  color: var(--clr-primary-pink);
  border-color: var(--clr-primary-pink);
}
